/*
1. Позиционирование
2. Блочная модель
3. Типографика
4. Оформление
5. Анимация
6. Разное
*/


:root {
  --text: #000000;

  --background: #ffffff;

  --1: #4B5D68;
  --2: #212353;
  --3: #9C69E2;
  --4: #F063B8;
  --5: #68C9BA;
}

/* Global style - start*/

*, *:before, *:after {
  box-sizing: border-box
}

.page {
  height: 100%; /* для гридов*/
}

.page,
.page-body {
  min-width: 320px;
}

.page-body {
  /* для гридов*/
  min-height: 100%;
  display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  align-content: start;
  /* для гридов*/

  margin: 0;
  padding: 0;

  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text);

  background-color: var(--background);
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  width: clamp(350px, 100%, 1150px);
}

/* Global style - end */

/* header - start */

/* header - end */

/* main - start */

/* main - end */

/* footer - start */

/* footer - end */
