<!DOCTYPE html>
<html class="page" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Описание"> <!-- Описание сайта-->
  <meta property="og:title" content="Title"> <!-- Название для соц.сетей-->
  <meta property="og:description" content="Описание"> <!-- Описание для соц.сетей-->
  <meta property="og:image" content="<%= BASE_URL %>/images-header.png"> <!-- Картинка для соц.сетей-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
  <link rel="icon" href="<%= BASE_URL %>favicon.ico"> <!-- фавиконка-->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

</body>
</html>
